@use "../abstracts" as *;

.team{
  background-image: url("../../assets/images/bg-curve-mobile.svg");
  background-position: top center;
  background-size: 550% 100%;
  background-repeat: no-repeat;
  padding: 2rem 1rem;
  font-size: 0.925rem;
  
  @include mq(medium){
    background-image: url("../../assets/images/bg-curve-desktop.svg");
    background-size: 300% 100%;
    @include grid();
    padding: 5.5rem;
  }
    
  &__img{
    padding-block: 5rem;
  }

  &__content{
    @include mq(medium){
    grid-row: 1 / 1;
    }
  }

  &__heading{
    font-size: $font-size;
    padding-block: 1rem;

    @include mq(medium){
      font-size: 2.3rem;
    }

  }

  &__text{
    color: $desaturated-blue;
    text-align: left;
    padding: 1rem 0;

    @include mq(medium){
      color: $very-dark-blue;
      width: 31rem;
      font-weight: $fw--700;
    }
  }

  &__link{
    @include flex(space-between, center, row);
    color: $moderate-cyan;
    margin: 2rem auto;
    width: 10rem;
    border-bottom: 1.5px solid $moderate-cyan;
   
    @include mq(medium){
      margin: 0;
    }

  }

  &__review{
    border-radius: 0.5rem;
    background-color: $white;
    font-size: 0.7rem;
    margin: 2rem 1rem;
    padding: 1.9rem;
    text-align: left;
    box-shadow: 0 0 1rem 0.1rem $translucent-light-gray;

    &-text{
      padding-block: 1rem;
      
    }
    
    @include mq(medium){
      padding: 1rem 1.9rem;
      margin: 3rem 0;
      width: 18rem;
    }

  }

  &__person{
    @include flex(flex-start, center, row);
        
    &-img{
      width: 40px;
      border-radius: 50%;
    }

    &-wrapper{
      padding-inline: 0.5rem; 
    }

    &-name{
      font-weight: $fw--700;
    } 
        
    &-designation{
      font-size: 0.5rem;
    }
  }

  
    
}